{% include "layout.html" %}

{% block content %}
<div class = "cart">
    <div class = "b1">
        <p>Your Bill</p>
        <table>
        <tr>
            <td>brand</td>
            <td>product</td>
            <td>quantity</td>
            <td>price</td>
        </tr>
        {% for i in data %}
         <tr>
            <td>{{ i[0] }}</td>
            <td>{{ i[1] }}</td>
            <td>{{ i[2] }}</td>
            <td>₹{{ i[3] }}</td>
        </tr>
        {% endfor %}
         <tr>
             <td>
                 total
             </td>
             <td>
                 ₹{{data1}}
             </td>
         </tr>
    </table>

    </div>

</div>
{% endblock content %}

{% include "footer.html" %}